@using MissKittin.Models
@model List<MissKittin.Models.Cat>
<div class="jumbotron">
    <h1>Miss Kittin</h1>
    <p class="lead">Vote up your favourite cat</p>
</div>

<div class="container">
    <ul class="grid effect-2" id="grid">

        @foreach (var cat in Model)
        {
            <li><a href=""><img src=@cat.Url></a></li>
        }

    </ul>
</div>

@Scripts.Render("~/Scripts/masonry.pkgd.min.js")
@Scripts.Render("~/Scripts/imagesloaded.js")
@Scripts.Render("~/Scripts/classie.js")
@Scripts.Render("~/Scripts/AnimOnScroll.js")
<script>
		new AnimOnScroll(document.getElementById( 'grid' ), {
			minDuration : 0.4,
			maxDuration : 0.7,
			viewportFactor : 0.2
		} );
</script>